@{

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>CreateEmployee</title>
    <script>

        function ResetForm() {

            document.getElementById('TxtFName').value = "";

            document.getElementById('TxtLName').value = "";

            document.getElementById('TxtSalary').value = "";

        }
    </script>
</head>

<body>

    <div>
        <form action="/Employee/CancelSave" id="CancelForm" method="post" style="display:none"></form>

        <form action="" method="post">

            First Name: <input type="text" id="TxtFName" name="FirstName" value="" /><br />

            Last Name: <input type="text" id="TxtLName" name="LastName" value="" /><br />

            Salary: <input type="text" id="TxtSalary" name="Salary" value="" /><br />

            <input type="submit" name="BtnSubmit" value="Save Employee" />

            <input type="button" name="BtnReset" value="Reset" onclick="ResetForm();" />
            <input type="submit" name="BtnSubmit" value="Cancel" onclick="document.getElementById('CancelForm').submit()" />
        </form>
    </div>
</body>
</html>