@model WebApplication3.Models.UserDetails

@{

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Login</title>
</head>

<body>

    <div>
        @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
        @*<form action="/Authentication/DoLogin" method="post"></form>*@

        @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post))
        {

            @Html.LabelFor(c => c.UserName)

            <input id="UserName" name="UserName" type="text" value="" />
            @*@Html.TextBoxFor(x => x.UserName)*@

            <br />

            @Html.LabelFor(c => c.Password)

            @Html.PasswordFor(x => x.Password)

            <br />

            <input type="submit" name="BtnSubmit" value="Login" />

        }
    </div>
</body>
</html>